/*  акция  */
.promo {
    display: flex;
    padding: 120px 100px 30px 100px;
    width: 100%;
    height: 900px;
}

.promo h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #363636;
}

.promo-box1 {
    width: 50%;
    height: 100%;
    margin-right: 15px;
}

.promo-img {
    overflow: hidden;
    width: 90%;
    height: 65%;
    background-color: #f1d14e;
    float: left;
}

.promo-img img {
    height: 100%;
}

.promo-text {
    position: relative;
    width: 60%;
    height: 65%;
    float: left;
    bottom: 330px; 
    right: -230px;
}

.promo-price {
    background-color: #4290e0;
    height: 40%;
    padding: 25px 0;
    text-align: center;
    line-height: 0;
    color: #2c2c2c;
}

.promo-price p {
    font-size: 16px;
    line-height: 35px;
}

.promo-price h1 {
    font-size: 55px;
    font-weight: 800;
    line-height: 20px;
}

.promo-price span {
    font-size: 35px;
    font-weight: 700;
    line-height: 25px;
}

.promo-price h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
}

.promo-info {
    background-color: rgb(36, 36, 36);
    height: 55%;
    border-top: 3px white dashed;
    text-align: center;
    padding: 25px 40px;
}

/* .promo01 .promo01-content .icon-separator .icon:before {
    transform: rotate(90deg);
    position: absolute;
}

.icon-1:before {
    content: "\e944";
}
 */
.promo-info h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
}

.promo-info p {
    color: #4290e0;
    font-size: 16px;
}

.promo-info button {
    border: 2px solid #4290e0;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
    font-size: 17px;
    font-weight: 600;
    padding: 15px 25px;
}

.promo-box2 {
    width: 50%;
    margin-left: 25px;
}

.promo-box2 span {
    font-size: 45px;
    font-weight: 700;
    color: #4290e0;   
}

.promo-box2 .line {
    color: #4290e0;    
    margin-top: 30px;
}

.promo-box2 p {
    font-size: 16px;
}

.promo-box2 ol {    
    margin: 40px 0;
}

.promo-box2 li {
    margin: 10px 0 10px -20px;
    font-size: 16px;
    font-weight: 700;
}



/* .promo-price h1 {
    color: rgb(224, 52, 52);
} */







/* .container-serv-slider {
    background-color: #54595F;
    width: 100%;
    height: 500px;
} */




