



/* .promo-price h1 {
    color: rgb(224, 52, 52);
} */







/* .container-serv-slider {
    background-color: #54595F;
    width: 100%;
    height: 500px;
} */




.dropdown {
    margin: 100px;

}



