.hystmodal {
    width: 50%;
    margin: 0 auto 100px auto;
}

.hystmodal__window {
    width: 100%;
    height: 100%;
    padding: 30px 50px;
}

/* .hystmodal__close {
    color: black;
    position: relative;
    z-index: 100;
} */

.modal-header-box {
    display: flex;
}

.modal-header-box h2 {
    font-size: 30px;
    font-weight: 600;
    color: #292929;
}

.modal-header-box h2 span {
    color: #4290e0;
}

.modal-header-box p {
    font-size: 17px;
}

.modal-form-box h3{
    font-size: 22px;
}

.modal-form-box input{
    height: 50px;
    padding-right: 20px;
    margin-top: 15px;
    border: none;
    background-color: #d1d1d1;
}

.modal-btn-box .col-2 button{
    border: 1px solid black;
}