/* Модальное окно */
.modal-window {
    display: none;
    position: fixed;
    z-index: 2; 
    left: 150px;
    right: 150px;
    top: 0;
    padding: 0 0 50px 50px;
    background-color: rgb(255, 255, 255);
}

.modal-content {
    border: none;
}


/* Header в модальном окне */
.modal-header-box {
    display: flex;
}

.modal-header-box h2 {
    font-size: 25px;
    font-weight: 600;
    color: #2d2d2d;
    margin-top: 30px;
}

.modal-header-box .box-text p {
    font-size: 15px;
    color: #2d2d2d;
    margin: 20px 0 30px 0;
}

.modal-header-box .box-text h2 span {
    color: #4290e0;
}

.modal-header-box .box-blue {
    width: 400px;
    height: 60px;  
    padding: 15px 0 15px 20px;
    background: linear-gradient(55deg, transparent 40px, #4290e0 0);
}

.modal-header-box .box-blue p { 
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #272725;
}


/* Форма ввода в модальном окне */
.modal-form-box {
    margin-right: 40px;
}

.modal-form-box h2 {
    font-size: 20px;
    font-weight: 600;
    color: #2d2d2d;
    margin-bottom: 20px;
}

.modal-form-box input {
    font-size: 16px;
    color: #757575;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    background-color: rgb(240, 240, 240);
    border: none;
}


/* Кнопки "Оттправить" и "Закрыть" в модальном окне */
.modal-btn-box {
    display: flex;
    margin-top: 30px;
}

.modal-btn-box p {
    font-size: 15px;
    color: #2d2d2d;
}

.modal-btn-box button {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #2d2d2d;
    border: 2px solid #2d2d2d;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    background-image: linear-gradient(135deg, #4290e0 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 400ms ease-in-out;
}

.modal-btn-box button:hover {
    color: rgba(0, 0, 0, 0.925);    
    background-position: 0;    
}

/* .modal-btn-box .close {
    border: 2px solid #000000;
    color: #000000;
} */




