*,
*::before,
*::after {
	box-sizing: border-box;
}

.container-services {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.h2-services {
	color: #081e3b;
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
    font-weight: 800;
    line-height: 82px;
    font-family: Rubik, sans-serif;
    text-transform: uppercase;
}

/* Стилизация линии (тег <hr>) */
/* горизонтальная полоса */
.container-services hr {
    border: none;
    height: 2px;
    margin: 60px 30px;
    background-image: linear-gradient(to right, #FFF, #0a4491c0, #FFF);
}

/* круг в середине */
.container-services hr:before, .container-services hr:after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 2px solid #0a4491c0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}

/* анимация круга */
.container-services hr:after {
    animation: anim-hr 1.5s linear infinite; 
}

@keyframes anim-hr {
    0% {
        width: 40px;
        height: 40px;
    }
    100% {
        width: 0;
        height: 0;
    }
}


/* перечень услуг с фото и описанием */
#owlCarousel .item {
	width: 100%;
	text-align: center;
	padding: 50px;
	margin-bottom: 80px;
	opacity: .2;
	transform: scale(0.8);
	transition: all 0.3s ease-in-out;
}

#owlCarousel .owl-item.active.center .item {
	width: 100%;
	opacity: 1;
	transform: scale(1.10);
}

/*-- Testimonials --*/
.description-services {
	width: 100%;
	height: 500px;
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	border: 1px solid #d6d6d6;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

.description-services p {
	font-size: 14px;
	line-height: 1.5;
	margin: 0 0 17px 0;
	font-weight: 300;
}

.description-services img {
	box-shadow: 7px 7px 0 #285e8e;
	max-width: 250px;
	margin: 0 auto 15px;
}


.h4-servises {
	display: table;
	margin: -30px auto 0;
	width: 70%;
	background: #285e8e;
	padding: 15px 0;
	text-align: center;
	color: #fff;
	box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}


#owlCarousel.owl-carousel .owl-dots .owl-dot.active span,
#owlCarousel.owl-carousel .owl-dots .owl-dot:hover span {
	background: rgba(36, 118, 185, 0.555);
	transform: translateY(-50%) scale(0.7);
}

#owlCarousel.owl-carousel .owl-dots {
	display: inline-block;
	width: 100%;
	text-align: center;
}

#owlCarousel.owl-carousel .owl-dots .owl-dot {
	display: inline-block;
	outline: none;
}

#owlCarousel.owl-carousel .owl-dots .owl-dot span {
	background: rgba(37, 109, 168, 0.404);
	display: inline-block;
	height: 20px;
	margin: 0 2px 5px;
	transform: translateY(-50%) scale(0.3);
	transition: all 250ms ease-out;
	width: 20px;
}


/*-- Footer --*/
footer {
	background-color: #739519;
	color: #fff;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}

#totop {
	position: fixed;
	right: 5%;
	bottom: 7%;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.65);
	color: #fff;
	padding: 8px 10px;
	z-index: 100;
	transition: bottom 0.7s;
}



